# Base de datos
clientes.db
*.db

# Python
*.pyc
__pycache__/

# Uploads
uploads/*.xlsx
uploads/*.xls

# Entorno
.env
.env.local
venv/
env/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Vercel
.vercel
